.menu{
  &__item{
    display: inline-block;
    &--title{
      font-size: 30px;
      margin:    5px 83px 5px 8px;
      color:     #9cd3ff;
    }
    &--button{
      display:        inline-block;
      vertical-align: top;
      a {
        text-decoration: none;
        color:           #fff;
      }
    }
  }
}
.menu_button{
  background-color: #555;
  display:          inline-block;
  width:            35px;
  height:           35px;
  border-radius:    20px;
  margin:           10px 5px;
  border:           solid 2px #aaa;
  color:            #fff;
  font-size:        15px;
  transition:       1.0s;
  &:hover{
    background-color: #222;
    cursor:           pointer;
  }
  &:focus{
    background-color: #aaa;
    border:           solid 2px #555;
    transition:       0.1s;
  }
  a {
    margin: 0;
  }
}
h2{
  color: #9cd3ff;
  margin: 10px;
}
.category_Form{
  margin-top: 40px;
  &__content{
    margin: 10px;
    input[type=submit]{
      width: 150px;
      height: 40px;
      margin: 10px;
      color:  #fff;
      background-color: #9cd3ff;
      border: solid 2px #777;
      border-radius: 5px;
      font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
      cursor:           pointer;
      transition: 1.0s;
      &:hover{
        background-color: #6ca9d9;
      }
      &:focus{
        background-color: #295373;
        border: solid 2px #fff;
        transition: 0.1s;
      }
      &:disabled{
        background-image: none;
        background-color: #999;
      }
    }
    &--radio{
      display: inline-block;
      width: 150px;
    }
  }
}

.item{
  display:        inline-block;
  vertical-align: top;
  width:          100px;
  margin:         3px;
  &-right{
    display: inline-block;
    width: 300px;
    margin:  3px;
  }
}

.warn{
  margin: 2px;
  color: #ff6b6b;
}

input[type=radio] {
  display: none;
  &:checked + label:before {
    border-color: #444;
    animation: ripple 0.2s linear forwards;
  }
  &:checked + label:after {
    transform: scale(1);
  }
}
input[type=text]{
  width: 292px;
  border: solid 2px #555;
  border-radius: 5px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}
textarea{
  width: 292px;
  border: solid 2px #555;
  border-radius: 5px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}
label {
  display: inline-block;
  position: relative;
  min-height: 20px;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  &:before, &:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
    background-color: #fff;
  }
  &:before {
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 2px solid #777;
  }
  &:after {
    top: 9px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #6ca9d9;
  }
}

