<div class = "menu">
  <div class = "menu__item">
    <div class = "menu__item--title">
      Register Form
    </div>
  </div>
  <div class="menu__item--button">
    <a routerLink = "/categories/">
      <input type = "submit" value = "←" class = "menu_button">
    </a>
  </div>
</div>
<h2>New Category</h2>
<form class = "category_Form" *ngIf="categoryRegisterForm" [formGroup] = "categoryRegisterForm" (submit)="add()">
  <div class = "category_Form__content">
    <div class="item" for = "new-slug">Name：</div>
    <div class="item-right">
      <input type = "text" id = "new-name" name = "name" formControlName = "categoryName" placeholder = "Name">
      <div class = "warn" *ngIf="name && name.errors?.['required']">
        ※Name is Requirement.
      </div>
    </div>
  </div>
  <div class = "category_Form__content">
    <div class="item" for = "new-slug">Slug：</div>
    <div class="item-right">
      <input type = "text" id = "new-slug" name = "slug" formControlName = "categorySlug" placeholder = "Slug">
      <div class = "warn" *ngIf="slug && slug.errors?.['required']">
        ※Slug is Requirement.
      </div>
      <div class = "warn" *ngIf="slug && slug.errors?.['alpha']">
        ※Please use alpha only.
      </div>
    </div>
  </div>
  <div class = "category_Form__content">
    <div class="item">Color：</div>
    <div class="item-right">
      <div class="category_Form__content--radio" *ngFor="let color of colors" >
        <input
          type            = "radio"
          value           = "{{color.id}}"
          name            = "categoryColor"
          formControlName = "categoryColor"
          id              = "{{color.name}}"
        ><label for = "{{color.name}}">{{color.name}}</label>
      </div>
      <div class = "warn" *ngIf="color && color.errors?.['required']">
        ※Color is Requirement.
      </div>
    </div>
  </div>
  <div class = "category_Form__content">
    <input [disabled]="categoryRegisterForm.invalid" type = "submit" value = "register" class="submit_button">
  </div>
</form>
