@import "../app.component";
@import "../form";
.menu{
  &__item{
    &--title{
      margin:    5px 97px 5px 10px;
    }
  }
}
.right{
  width: 200px;
}
.radio-form{
  &__button{
    width: 150px;
  }
}
