<div class = "menu">
  <div class = "menu__item">
    <div class = "menu__item--title">
      {{title}}
    </div>
  </div>
  <div class = "menu__item--button">
    <a routerLink = "/todo/register">
      <input type = "submit" value = "＋" class = "menu_button">
    </a>
  </div>
  <div class="menu__item--button">
    <a routerLink = "/home">
      <input type = "submit" value = "←" class = "menu_button">
    </a>
  </div>
</div>
<div class = "card" *ngFor = "let todo of todos">
  <div class = "card__content" style="background-color: {{getThisCategoryColor(todo.category_id)}}">
    <div class = "card__content--title">{{todo.title}}</div>
    <div class = "card__content--body">{{todo.body}}</div>
    <div class = "card__content--category">{{getThisCategoryName(todo.category_id)}}</div>
    <div class = "card__content--state">{{getThisState(todo.state)}}</div>

    <div class = "card__footer">
      <div class = "card__footer--item">
        <a routerLink = "/todos/{{todo.id}}">
          <input type="submit" value="Detail / Edit" class="select_button">
        </a>
      </div>

      <div class = "card__footer--item">
        <input type="submit" value="Remove" (click) = "remove(todo)" class="select_button">
      </div>
    </div>
  </div>
</div>

