@import "../app.component";

.menu {
  &__item {
    &--title {
      margin: 5px 95px 5px 10px;
    }
  }
}

ngx-slick-carousel{
  button{
    background-color: #004370;
    color:            #004370;
    &::before{
      background-color: #004370;
      color:            #004370;
    }
  }
}

.prev-arrow .slick-arrow {
  width:            20px;
  height:           20px;
  background-color: black;
}

.next-arrow .slick-arrow {
  width:            20px;
  height:           20px;
  background-color: black;
}
