<h1>{{title}}</h1>
<div class = "card">
  <div class = "card__content">
    <div class = "card__content--id">ID</div>
    <div class = "card__content--title">TITLE</div>
    <div class = "card__content--body">BODY</div>
    <div class = "card__content--category">CATEGORY</div>
    <div class = "card__content--state">STATUS</div>
  </div>
</div>
<div class = "card" *ngFor = "let todo of todos">
  <div class = "card__content" style="background-color: {{getThisCategoryColor(todo.category_id)}}">
    <div class = "card__content--id">{{todo.id}}</div>
    <div class = "card__content--title">{{todo.title}}</div>
    <div class = "card__content--body">{{todo.body}}</div>
    <div class = "card__content--category">{{getThisCategoryName(todo.category_id)}}</div>
    <div class = "card__content--state">{{getThisState(todo.state)}}</div>

    <div class = "card__footer">
      <div class = "card__footer--item">
        <a routerLink = "/todos/{{todo.id}}">
          <input type="submit" value="Detail / Edit">
        </a>
      </div>

      <div class = "card__footer--item">
        <a routerLink = "/todos/{{todo.id}}">
          <input type="submit" value="Remove">
        </a>
      </div>
    </div>
  </div>
</div>
<div>
  <h2><a routerLink = "/todo/register">Register Form</a></h2>
</div>
<div>
  <h2><a routerLink = "/home">Back To Home</a></h2>
</div>
